.QuickAdd {
  background-color: #585672;
  width: 400px;
  margin: 40px auto;
}

.QuickAdd button {
  background-color: #78768F;
  height: 50px;
  width: 175px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

.food-categories {
  text-align: center;
  color: white;
  margin-top: 15px;
}

.QuickAddWrapper {
  background-image: url("full_cart_red.svg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: bottom right;
  background-size: 33%;
}
