body {
  background-color: #499371;
}

.App {
  background-color: #486D88;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#add-ingredient-form input {
  background-color: #29516D;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #003B20;
}

#add-ingredient-form input::placeholder {
  color: white;
}

#add-ingredient-form button {
  background-color: #AA7939;
  height: 50px;
  width: 80px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
